@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* ### Primary */

--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);

/* ### Neutral */

--Dark-Grayish-Red: hsl(0, 6%, 24%);

/* ### Gradients */

--l-whiteWhite:    hsl(0, 0%, 100%),  hsl(0, 100%, 98%);
--l-pinkDarkpink: hsl(0, 80%, 86%),  hsl(0, 74%, 74%);
}

body{
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}
.hero{
    display: grid;
    background: url("images/bg-pattern-desktop.svg");
    background-size: contain;
    grid-template-rows: 7em auto;
    grid-template-areas: 
    "header image"
    "wrapper image"
    "attribution attribution"
}
.hero__wrapper{
    padding: 2em 6em;
    grid-area: wrapper;
}
.hero__header{
    padding: 2em 0 0 6em;
    grid-area: header;
}
.hero__img{
    grid-area: image;
    width: 400px;
    height: 100vh;
}
.attribution{
    grid-area: attribution ;
}
.wrapper__title{
    font-size: 4em;
    margin-right: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: var(--Dark-Grayish-Red);
}
.title__black-bold{
    display: block;
    font-weight: 300;
    color: var(--Desaturated-Red);
}
.wrapper__paragraph{
    line-height: 1.5em;
    margin-bottom: 2em;
    color: var(--Desaturated-Red);
}
.wrapper__enquiry{
    display: flex;
    position: relative;
}
.wrapper__email{
    width: 90%;
    padding: 1em 1.5em;
    border-radius: 2em;
    border: 1px solid var(--Desaturated-Red);
}
.wrapper__email::placeholder{
    color: var(--Desaturated-Red);
}
.wrapper__email:focus{
    outline: 2px solid var(--Soft-Red);
}
.error__img{
    position: absolute;
    transition: .5s ease;
    display: none;
    top: 10px;
    right: 6em;
}
.email__button{
    top: 0;
    right: 0;
    height: 44px;
    padding: 1em;
    width: 6.5em;
    border-style: none;
    position: absolute;
    border-radius: 1.7em;
    border: 1px solid none;
    cursor: pointer;
    box-shadow: 0px 10px 14px 0px var(--Desaturated-Red);
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
.email__button:hover{
    transform: scale(1.1);
    transition: .2s ease;
}
.warning{
    display: none;
    transition: .5s ease;
    margin-top: .5em;
    margin-left: 1em;
    color: var(--Soft-Red);
}
.hero__img-mobile{
    display: none;
}
@media (max-width:900px){
    .hero__img{}
}
@media (max-width: 500px){
    .hero{
        display: grid;
        background: none;
        grid-template-areas: 
        "header"
        "image"
        "wrapper"
    }
    .hero__wrapper{
        margin: 0;
        text-align: center;
        padding: 3em 2em;
        grid-area: wrapper;
    }
    .hero__header{
        margin: 0;
        grid-area: header;
        padding: 2em;
    }
    .hero__img-mobile{
        grid-area: image;
        display: block;
        width: 100%;
        padding: 0;
    }
    .hero__img{
        display: none;
    }
    .email__button{
        height: 42px;
        width: 4.5em;
        right: 1.5em;
    }
    .warning{
        margin-left: -1em;
    }
}